.introduction {
  position: fixed;
  inset: 0;                     
  width: 100%;                 
  height: 100%;                 
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-inline: 60px;
  padding-bottom: 30px;
  z-index: 99;
  background-color: hsl(var(--background));

  svg {
    position: absolute;
    top: 0;
    left: 0;                    
    width: 100%;
    height: calc(100% + 300px);

    path {
      fill: hsl(var(--background));
    }
  }

  p {
    display: flex;
    color: hsl(var(--foreground));
    font-size: 72px;
    align-items: center;
    position: absolute;
    z-index: 1;
  }
}
